.transfer-col-padding {
    padding-left: 70px !important;
    padding-right: 70px !important;
}

.col-line {
    border-left: 1px solid #CCCCCC;
}

.rep-list {
    height: 380px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 25px;
    margin-bottom: 25px;
}

.rep-item.ver {
    margin-bottom: 25px;
}